a {
  color: green;
}
body,main
{
  display: flex;
  justify-content: space-between
}
main
{
    display: flex;
  flex: auto
}
aside
{
    display: flex;
  flex: 2
}
article
{
    display: flex;
  flex: 5
}

