a {
  color: green;
}
body,main
{
  display: flex;
}
main
{
  display: flex;
  flex: auto
}
aside
{
  display: flex;
  flex: 1
}
article
{
  display: flex;
  flex: 3
}
header
{
  display: flex;
  justify-content: flex-start
}
